
body {
background-image: url('images/bee.jpg');
background-size: cover;
background-repeat: repeat-x;
background-x-position: center;
background-y-position: top;
background-attachment: fixed;
background-color: #cccccc;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.banner {
  background-size: cover !important;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

ul li {
  display: inline-block;
}
.content-section {
  margin: 200px 80px;
}

.container2  {
  background: linear-gradient(to right, rgba(255,255,255,0),
  rgba(255,255,255,1)), url(images/banner2.jpg);
  background-size: cover !important;
  background-position: center;
  border-radius: 8px;
  box-shadow: 10px 10px 5px 20px#888888;
  margin: auto;
  color: white;
  background-size: 100%;
}

.section2 {
  margin-bottom: 200px;
  background-color: #FEED46;
  padding: 100px;
}
.content-section {
  box-shadow: 10px 10px 5px #green;
  border-radius: 8px;
}
.col-content {
  padding: 40px;
  border-radius: 8px;
  border: solid;
  background-color: #FEED46;
  box-shadow: 5px 5px 5px 5px#888888;
}
.story {
  margin-bottom: 30px;
}
.section3 {
  background-color: green;

}

.footer {
    background-color: rgba(253, 215, 48, .4);
}
/*
.navbar {
  font-size: 30px;

}*/
.navbar ul li{
  text-align: center;
  padding: 20px 0px;
}
.navbar {
  background-color: #FEED46;
  margin-bottom: 0px;
  font-size: 22px;
  font-family: monospace;
}

.navbar:hover {
  opacity: 90%;
}

.products {
  background-color: #FEED46;
  padding: 40px;
  border-radius: 8px;
  box-shadow:  5px 5px 5px 5px#888888;

}

.product {
  border: solid;
}
.card1 {
  background-color: rgba(14,134,237, .4);
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 8px;
}
.card1 img{
width:100%;
margin-top: 30px;
background-color: black;

}
.container-content {
  background-color: white;
}
.link ul li {
  font-size: 30px;
  text-align: center;
  padding-right: 20px;
  text-decoration: none;
}

.link ul li:hover {
  opacity: 0.5;
  text-decoration: none;
}

.contentt {
  background-color: rgba(253, 215, 48, .4);
  padding: 100px 2% 50px 2%;
}

.divimage {
  background-image: url('images/photo.jpg');
  height: 300px;
  width: 480px;
  background-repeat: no-repeat;
  background-size: 100%;

}
.btn-warning {
}

.planding {
  height: 600px;
  border-radius:6px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px;
  margin: 70px;
  background-position: center center;



}
.wrapper {
    background-color: red;
}
 /* blog */

.banner_blog {
  background-image: url('images/banner.jpg');
  height: 60vh;
  background-size: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  display: flex;
  background-position: fixed;
}
.navbar-nav {
  float: right;
}
.photo {
  width: 100%;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 6px;
}

}
.card1 {
  padding: 20px;
}
.card1 h3 {
  padding-bottom: 50px;
}
.more {

 }
 .divbg {
   background-color: white;
 }

 .footer {
   background-color: #373A3C;
   width: 100%;
   height: 300px;
   color: white;
   margin-top: 40px;
 }
 .links {
   list-style-type: none;


 }
 .links:hover {
   text-decoration: none;
 }
.photos {
  margin: 0px;
}
.photo_story {
  border-radius: 8px;
  border: solid black;
  box-shadow: 2px 2px 2px;
  height: 70%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom:40px;
  margin-top: 50px;
}

.album {
  margin-bottom: 40px;
}
.container_cards {
  max-width: 300px;
}
.content_story {
  padding-bottom: 40px;
}
.buttons {
  text-align:center;

}
.story_links {
  list-style-type: none;
  margin-top: 25px;
}
.story_content_section {
  box-shadow: 3px 3px 3px 3px;
  border-radius: 3px;
  margin-bottom: 30px;
}
.created_at {
  float: left;
}


/* products */





/* about*/

.banner_about {
  background-image: url('images/photo.jpg');
  background-size: cover !important;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.about_us {
  float: right;
}

.comment_row {
  margin-bottom: 20px;
}
.footer {
  background-color: black;
  text-align: center;padding-top: 30px;
}
/*.navlist_footer li {
  list-style-type: none;
  display: inline-block;
  font-size: 25px;
  width: 30%
  padding: 20px;
  margin-bottom: 30px 20px;
}
*/
