body {
  background-color: rgb(103,102,99);
}

h1 {
  font-family: sans-serif;;

}

img {
  border-radius: 9%;
}

.banner {
  height: 50vh; /* 1vh => 1% of viewport height */
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 7% ;
  justify-content: center;
  text-align: center;
}

.banner-content p {
text-align: center;}

.contain-info {
  margin-bottom: 25px;
}

.head-container {
  margin-bottom: 20px;
}
.container-div {
  background-color: #F4F3F2;
}

.row {
  padding: 40px;
}
.col-sm-3 {
  margin: 20px solid: #000;
}
