
body {
  background-color: #FFFF07;
  margin: 0px;
}

.banner {
  background-size: cover !important;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

ul li {
  display: inline-block;
}
.content-section {
  margin: 200px 80px;;
}
