
body {
  background-color: #F5CF9E;
  margin: 0px;
}

.banner {
  background-size: cover !important;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.content-section {
  margin: 200px 80px;;
}

.container  {
  background: linear-gradient(to right, rgba(255,255,255,0),
  rgba(255,255,255,1)), url(images/banner2.jpg);
  background-size: cover !important;
  border-radius: 8px;
  box-shadow: 10px 10px 5px 20px#888888;
  margin: auto;
  color: white;
}
.section2 {
  margin-bottom: 200px;
}
.content-section {
  box-shadow: 10px 10px 5px #green;
  border-radius: 8px;
}
.col-content {
  padding: 40px;
  border-radius: 8px;
  border: solid;
}
.story {
  margin-bottom: 30px;
}
.section3 {

}
.navcontent {
  display: inline-block;

}
.navigation {
display: inline-block;
}
